<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<title>index</title>
		
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<meta name="MSSmartTagsPreventParsing" content="true" />

		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="robots" content="index, follow" />
			
		
</head>
<body>
<form method="post" action=".">
 <fieldset>
        {{ form.as_p}}
		<input type="submit" value="Submit" />

 </fieldset>
</form>
<p>{{qasks}}</p>
<p>{{qkey}}</p>
</body>
</html>