
		

<div class="qcon">{{form.qcon.errors}}<h1>输入/修改题干</h1>{{form.qcon}}</div>
<div class="qask-key"><h1>设置选项和参考答案：</h1>
    {{form.qkey.errors}}{{form.qask.errors}}
     <div class="qkey">{{form.qkey}}</div>
     <div class="qask"> {{form.qask}}</div></div>
 <div class="clear"></div> 
<div class="qscore">{{form.qscore.errors}}<lable for="id_qscore">分数：</lable>{{form.qscore}}</div>
<div class="qlevel">{{form.qlevel.errors}}<lable for="id_qlevel">难度：</lable>{{form.qlevel}}</div>
<div class='qchapter'>{{form.qchapter.errors}}<lable for="id_qchapter">所属章节</lable>{{form.qchapter}}</div>
<div class="qexp">{{form.qexp.errors}}<h1>本题答案解析：</h1>{{form.qexp}}</div>

